<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/7ab1ef5b-615c-4efc-99b4-15848c53d20c/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Microsoft.*" />
      <package pattern="Volo.*" />
    </packageSource>
    <packageSource key="ABP Commercial NuGet Source">
      <package pattern="Volo.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>